@import url('reset.css');

body {
    font-family: '微軟正黑體', Arial;
    font-size: 1.2vw;
    color: #AC725C;
    border-color: #AC725C;
    background-color: #FAF8F6;
}

.burger {
    position: fixed;
    right: -4vw;
    top: -4vw;
    z-index: 2;
    background-color: #F5F3EC;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 0;
}

.burger .line {
    position: relative;
    font-size: 2vw;
    top: 3vh;
    right: 1.4vw;
    color: #AC725C;
}

.burger:hover .menu {
    display: block;
}

.burger:hover .x {
    display: block;
}

.list a {
    text-decoration: none;
    color: #AC725C;
}

.button1 i {
    position: relative;
    color: #fff;
    font-size: 2vw;
    top: 0.6vh;
    right: 0;
}

.button2 i {
    position: relative;
    font-size: 2vw;
    top: 1vh;
    right: 0.2vw;
}

.menu {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.menu img {
    width: 50vw;
    height: 100vh;
    display: flex;
    object-fit: cover;
    position: absolute;
}

.x {
    position: fixed;
    right: -4vw;
    top: -4vw;
    z-index: 1000;
    background-color: #AC725C;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 0;
    display: none;

}

.x i {
    position: absolute;
    font-size: 2vw;
    top: 11.8vh;
    right: 5.6vw;
    color: #F5F3EC;
    z-index: 3;

}

.menu1 {
    width: 50vw;
    height: 100vh;
    float: right;
    color: #AC725C;
}

.list {
    position: relative;
    text-align: center;
    font-weight: bold;
    top: 8vh;
    font-size: 2vw;
    letter-spacing: 0.5vw;
    line-height: 12vh;
}

.button1 {
    display: block;
    color: white;
    background-color: #AC725C;
    font-size: 1.1vw;
    margin: 11vh auto 4vh;
    width: 11vw;
    height: 8vh;
    line-height: 8vh;
    border: 0.3vh solid #AC725C;
    border-radius: 15vw;
    text-align: center;
    letter-spacing: 0.4vw;
    text-decoration: none;
}

.button2 {
    display: block;
    color: #AC725C;
    font-size: 1.2vw;
    margin: 0 auto 8vh;
    width: 11vw;
    height: 8vh;
    line-height: 8vh;
    border: 0.3vh solid #AC725C;
    border-radius: 15vw;
    text-align: center;
    letter-spacing: 0.4vw;
    text-decoration: none;
}


.top img {
    width: 10%;
    display: block;
    margin: 0 auto;
}

.page {
    position: relative;
}

.vessel {
    position: relative;
}


.vessel h1 {
    font-size: 2vw;
    margin-top: 5vh;
    width: 100%;
    text-align: right;
    letter-spacing: 1vw;
}

.vessel hr {
    float: right;
    margin-left: 2vw;
}

.vessel-pic {
    position: relative;
    width: 70%;
    height: 72vh;
    margin: 0 auto;
}

.vessel-pic img {
    width: 90%;

}

.bg1 {
    width: 40vw;
    height: 30vh;
    background-color: #EBE9DF;
}

.bg2 {
    width: 40vw;
    height: 30vh;
    background-color: #F0F0F0;
    position: relative;
    top: 63vh;
    left: 58.7vw;

}

.v1 {
    width: 50vw;
    position: relative;
    top: -48vh;
}

.v2 {
    width: 50vw;
    position: relative;
    top: -43vh;
    left: 17vw;
}

.v1 ul {
    display: flex;
    text-align: center;
}

.v1 p {
    text-align: center;
    margin: 3vh;
}

.v2 ul {
    display: flex;
    text-align: center;
}

.v2 p {
    text-align: center;
    margin: 3vh;
}

.tool {
    position: relative;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;

}

.tool span {
    position: relative;
    display: block;
    width: 26vw;
    height: 1vh;
    margin-top: 2vh;
    left: 57vw;
    background-color: #E7E2D2;
}

.left-line {
    width: 0.3vw;
    height: 53vh;
    background-color: #AC725C;
}

.tool img {
    width: 50%;
    position: relative;
}


.tool1 {
    position: absolute;
    z-index: 3;
    top: 25vh;
    left: 12vw;
    rotate: -10deg;
}

.tool2 {
    position: absolute;
    z-index: 2;
    top: 25vh;
    left: 12vw;
    rotate: 10deg;
}

.tool3 {
    position: absolute;
    z-index: 1;
    top: 25vh;
    left: 12vw;
}

.tool p {
    position: relative;
    top: 70vh;
    letter-spacing: .4vw;
}


.left {
    font-size: 5vh;
    position: relative;
    top: 39vh;
    left: -19vw;
}

.right {
    font-size: 5vh;
    position: relative;
    top: 32vh;
    right: -21vw;
}

#span2 {
    position: relative;
    display: block;
    width: 29vw;
    height: 1vh;
    margin-top: 2vh;
    background-color: #E7E2D2;
    left: -16vw;
    top: 17vh;
}

.watering {
    position: relative;
    text-align: center;
    height: 118vh;
    ;
}

.watering h1 {
    font-size: 2vw;
    margin-top: 5vh;
    width: 100%;
    text-align: right;
    letter-spacing: 1vw;
}

.watering hr {
    float: right;
    margin-left: 2vw;
}

.watering img {
    position: relative;
    width: 20%;
    z-index: 1;
}

.w1 {
    top: 5vh;
    left: 18vw;
}

.w2 {
    top: 41vh;
    left: -12vw;
}

.w3 {
    top: 37vh;
    left: -4vw;
}

.w4 {
    top: 68vh;
    right: 41vw;
}

.watering img:nth-child(3) {
    width: 17vw;
}

.watering img:nth-child(5) {
    width: 25vw;
}

.watering img:nth-child(6) {
    width: 17vw;
}

.watering p {
    position: relative;
    width: fit-content;
    z-index: 1;
}

.watering .p1 {
    top: -14vh;
    left: 46vw;
}

.watering .p2 {
    top: 41vh;
    left: 19vw;
}

.watering .p3 {
    top: 35vh;
    left: 51vw;
    width: fit-content;
}

.watering .p4 {
    top: 63vh;
    left: 34.5vw;
}

.bgc {
    position: relative;
    top: -31vh;
    left: 33vw;
    width: 47vw;
    height: 71vh;
    background-color: #EBE9DF;
    opacity: .5;
    rotate: 5deg;
}


.bottom {
    margin: 10vh auto 0;
    height: 10vh;
    text-align: center;
    font-size: 2vw;
    word-spacing: 1.5vw;
    background-color: #AC725C;
}

.bottom i {
    color: #FAF8F6;
    line-height: 10vh;
}

@media screen and (min-width: 1440px) {
    .x i {
        position: absolute;
        font-size: 2vw;
        top: 10.8vh;
        right: 5.6vw;
        color: #F5F3EC;
        z-index: 3;
    }

    .tool p {
        left: -2vw;
        position: relative;
        top: 59vh;
        letter-spacing: .4vw;
    }

    .right {
        font-size: 5vh;
        position: relative;
        top: 32vh;
        right: -18vw;
    }

    .left {
        font-size: 5vh;
        position: relative;
        top: 39vh;
        left: -21vw;
    }


    .watering .p1 {
        top: -11vh;
        left: 46vw;
    }
}