@import url('reset.css');

body {
    font-family: '微軟正黑體', Arial;
    font-size: 1.2vw;
    color: #AC725C;
    border-color: #AC725C;
    background-color: #FAF8F6;
    overflow-x: hidden;

}

.mainVideo {
    pointer-events: none;
    position: absolute;
    width: 90vw;
    height: 97.6vh;
    right: 0;
    border-top: 2.5vh solid #FAF8F6;
    border-right: 2.5vh solid #FAF8F6;
    z-index: 3;
}

.video {
    width: 90vw;
    height: 101vh;
    display: block;
    margin-left: 19.5vw;
    position: absolute;
    z-index: 2;
    border-radius: 6% / 50%;
    clip-path: url(#myClip);
}


.burger {
    position: fixed;
    right: -4vw;
    top: -4vw;
    z-index: 4;
    background-color: #F5F3EC;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}


.burger .line {
    position: relative;
    font-size: 2vw;
    top: 3vh;
    right: 1.4vw;
    color: #AC725C
}

.x {
    position: relative;
    font-size: 2vw;
    top: 3vh;
    right: 1.4vw;
    color: white;
}

.list a {
    text-decoration: none;
    color: #AC725C;
}

.mainPage {
    position: relative;
    width: 22vw;
    height: 100vh;
}

.mainPage img {
    width: 47%;
    display: block;
    margin: 0 auto;
    padding: 3vh 8vh 3vh;
    max-width: 100%;
}

.mainPage h1 {
    writing-mode: vertical-lr;
    position: relative;
    margin: 2vh auto;
    letter-spacing: 3vh;
    font-size: 4vh;
}

.button {
    display: block;
    color: white;
    background-color: #AC725C;
    font-size: 1vw;
    margin: 8vh auto;
    width: 11vw;
    height: 8vh;
    line-height: 8vh;
    border: 0.3vh solid #AC725C;
    border-radius: 15vw;
    text-align: center;
    letter-spacing: 0.4vw;
    text-decoration: none;
    transition: .5s;
}

.button1 i {
    position: relative;
    color: #fff;
    font-size: 2vw;
    top: 0.6vh;
    right: 0;
}

.button2 i {
    position: relative;
    font-size: 2vw;
    top: 1vh;
    right: 0.2vw;
}

.menu {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    
}

.menu img {
    width: 50vw;
    height: 100vh;
    display: flex;
    object-fit: cover;
    position: absolute;
}

.menu1 {
    width: 50vw;
    height: 100vh;
    float: right;
    color: #AC725C;
}

.list {
    position: relative;
    text-align: center;
    font-weight: bold;
    top: 8vh;
    font-size: 2vw;
    letter-spacing: 0.5vw;
    line-height: 12vh;
}

.button1 {
    display: block;
    color: white;
    background-color: #AC725C;
    font-size: 1.1vw;
    margin: 11vh auto 4vh;
    width: 11vw;
    height: 8vh;
    line-height: 8vh;
    border: 0.3vh solid #AC725C;
    border-radius: 15vw;
    text-align: center;
    letter-spacing: 0.4vw;
    text-decoration: none;
}

.button2 {
    display: block;
    color: #AC725C;
    font-size: 1.2vw;
    margin: 0 auto 8vh;
    width: 11vw;
    height: 8vh;
    line-height: 8vh;
    border: 0.3vh solid #AC725C;
    border-radius: 15vw;
    text-align: center;
    letter-spacing: 0.4vw;
    text-decoration: none;
}

.page {
    position: relative;
    width: 100vw;
    margin: 0 auto;
}

.block1 {
    width: 27vw;
    height: 21vh;
    background-color: #F5F3E8;
    position: relative;
    top: 6.5vh;
}

.block2 {
    height: 16vh;
    width: 28vw;
    left: 6vw;
    top: 2vh;
    background-color: #EEEBDD;
    position: relative;
}

.page2 {
    position: relative;
    width: 100vw;
    height: 104vh;
    margin: -5vh auto;
}

.page2-img {
    text-align: center;
    width: 70vw;
    position: relative;
    margin: -9vh auto;
}

.page2-img ul {
    display: flex;
}

.page2-img li {
    flex: 1 0 0;
}

/* Valentine's Day */

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block;
    margin-left: 33px;
    top: -67px;
}

.owl-carousel .owl-item img {
    width: 75% !important;
    margin-bottom: 2vh;
}


.p1 {
    width: fit-content;
    margin-left: 2vw;
    font-size: 1.3vw;
    letter-spacing: .3vw;
    line-height: 3.5vh;
    position: relative;
    top: -26vh;
}

.p2 {
    width: fit-content;
    margin-left: 2vw;
    font-size: 1.3vw;
    letter-spacing: .3vw;
    line-height: 3.5vh;
    position: relative;
    top: -20vh;
    left: 6vw;
}

.p3 {
    text-align: center;
    margin-left: -80px;
}

.left {
    position: relative;
    right: 3vw;
}

.right {
    position: relative;
    left: 3vw;
}

.title {
    height: 1vh;
    width: 100vw;
    line-height: 1vh;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h1 {
    margin: 0 1px;
    font-size: 2vw;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.title hr {
    flex-basis: 0;
    flex-grow: 1.5;
}

.page3 {
    position: relative;
    width: 70%;
    margin: 10vh auto -6vh;
    display: flex;
}

.page3_left {
    width: 50%;
}

.page3_left img {
    width: 72%;
    margin: 0 0 0 7vw;
    filter: drop-shadow(-16px -13px 1px rgba(211, 205, 184, 0.42));

}

.page3_right {
    margin: 0 0 0 8vw;
    width: 50%;
}

.page3_right img {
    width: 50%;

    position: relative;
}

.page3_right img:hover {
    z-index: 1;
    transform: scale(1.1);
    transition: .8s;
    border-radius: 10px;
}

.page3_right2 img {
    position: relative;
    top: -5vh;
    left: 9vw;
}

.page3_right3 img {
    position: relative;
    top: -10vh;
    left: -2vw;
}

.collection_a {
    position: relative;
    left: -8vw;
    top: 8vh;
    width: 140%;
    letter-spacing: 0.3vw;
    line-height: 5vh;

}

.page4 {
    width: 70%;
    margin: 0 auto;
}

.page4 ul {
    display: flex;
    margin: 0 auto;
}

.page4 li {
    display: block;
    text-align: center;
    letter-spacing: 0.5vw;
    flex-grow: 1;
    margin: 5vh auto 5vh;

}

.page4 li img {
    width: 75%;
    display: block;
    margin: 0 auto 5vh;
    border-radius: 10px;

}

.page4 li img:hover {
    transform: scale(1.08);
    transition: .8s;

}

.page5 {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.page5_left {
    width: 36vw;
    height: 60vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.page5 i {
    line-height: 48vh;
    font-size: 2vw;
    text-align: center;
    transition: 2s;
}

.mainpic {
    display: block;
    width: 430px;
    position: absolute;

}

.ul3 {
    position: relative;
    width: 500px;
}

.page5_left img {
    width: 74%;
    border-radius: 1vw;
    margin: 0 3vw 5vh;
}

.name {
    position: relative;
    top: 340px;
    right: 284px;
    height: 20px;
}

.page5 a {
    position: relative;
}

.page5_right {
    border: .3vw solid #D9D9D9;
    width: 25vw;
    height: 60vh;
    margin: 0 auto;
    position: relative;

}

.page5_right ul {
    display: flex;
    align-content: center;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.page5_right img {
    width: 10vw;
    margin: 2vh 1vw;
    flex-grow: 2;
    border-radius: 1vw;
}

.page5_right img:hover {
    transform: scale(1.08);
    transition: .5s;
}

.reading {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.reading_left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reading_left img {
    width: 70%;

}

.reading_right {
    display: flex;
    align-items: center;
}

.reading_right a {
    font-size: 1.3vw;
    line-height: 8vh;
    display: flex;
}

.bottom {
    margin: 10vh auto 0;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 2vw;
    word-spacing: 1.5vw;
    background-color: #AC725C;
}

.bottom i {
    color: #FAF8F6;
    line-height: 10vh;
}

.goTop {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 5px;
    line-height: 50px;
    text-align: center;
    background-color: #773434;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.goTop i {
    font-size: 20px;
    color: #FAF8F6;
}

